---
import Badge from "../components/Badge.astro";

// Icons
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import WhatsAppIcon from "../components/icons/WhatsAppIcon.astro";

const personalImageAlt = "Aimar Bustamante";

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<img
	class="rounded-full size-16 mb-4 p-1 ring-2 ring-blue-300 dark:ring-blue-500"
	src="/images/aimarbusta-photo.webp"
	alt=`Foto de ${personalImageAlt}`
/>
<h1
	class="text-gray-100 text-3xl md:text-4xl lg:text-5xl font-bold flex flex-col gap-y-4 md:flex-row md:gap-x-4 pb-6 lg:pb-10"
>
	{i18n.Hero.title}<a
		href="https://www.linkedin.com/in/aimarbustamante/"
		target="_blank"
		rel="noopener"
		aria-label="LinkedIn"
		class="flex items-center transition md:justify-center md:hover:scale-105 italic"
		><Badge>#OpenToWork</Badge></a
	>
</h1>

<h2 set:html={i18n.Hero.subtitle} class="text-xl lg:text-2xl opacity-80 text-pretty max-w-[700px] text-gray-100">

</h2>

<nav class="flex gap-4 mt-5 flex-wrap">
	<SocialPill href="https://www.linkedin.com/in/aimarbustamante/" aria-label="LinkedIn">
		<LinkedInIcon class="size-4 md:size-6" /> LinkedIn
	</SocialPill>
	<SocialPill href="https://github.com/AimarBustamante" aria-label="GitHub">
		<GitHubIcon class="size-4 md:size-6" /> GitHub
	</SocialPill>
	<SocialPill href="mailto:aimarbustamante379@hotmail.com" aria-label={i18n.Hero.mail}>
		<MailIcon class="size-5 md:size-7" /> {i18n.Hero.mail}
	</SocialPill>
	<SocialPill href="https://www.instagram.com/aimarbusta.dev/" aria-label="Instagram">
		<InstagramIcon class="size-4 md:size-6" /> Instagram
	</SocialPill>
	<SocialPill href="https://wa.me/50765167602" aria-label="WhatsApp">
		<WhatsAppIcon class="size-4 md:size-6" /> WhatsApp
	</SocialPill>
</nav>
